html, body, .main {
}

.scrollable_main {
	width: 80%;
	overflow-y: none;
	overflow-x: none;
	background-color: purple;
}

.fixed_side{
	width: 20%;
	height: 100%;

	position: fixed;
	right: 0;
	top: 0;
}

.btn-group {
	text-align: center;
}
#query_buttons {
	width: 195px;
	margin: auto;
	padding-top: 10px;
}

.eviewer_container {
	height: 700px;
	width: 100%;
	background-color: green;
}